JimaineRolePlayWebsite.v12.suo
*.cache
JimaineRolePlayWebsite/obj/Debug/JimaineRolePlayWebsite.pdb
JimaineRolePlayWebsite/obj/Debug/JimaineRolePlayWebsite.dll
JimaineRolePlayWebsite/obj/Debug/JimaineRolePlayWebsite.csproj.FileListAbsolute.txt
JimaineRolePlayWebsite/bin/JimaineRolePlayWebsite.pdb
JimaineRolePlayWebsite/bin/JimaineRolePlayWebsite.dll