@{
    ViewBag.Title = "Über Jimaine";
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<p>Jimaine ist mein privates Projekt zum erlernen neuer Fähigkeiten.</p>
<p>Jimaine is my private project to learn new skills.</p>