@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Mike Gr&uuml;newald<br />
    Neu-Isenburg - Deutschland<br />
    <abbr title="Phone">P:</abbr>
    0177/### ## ##
</address>

<address>
    <strong>Info:</strong>   <a href="mailto:info@jimaine.de">info@jimaine.de</a>
</address>