@{
    ViewBag.Title = "Startseite";
}

    <div class="jumbotron MyJumbotron">
        <h1>Jimaine Rollenspiel und mehr</h1>
        <p class="lead">Diese Website ist noch in der Entwicklungsphase!</p>
        <p class="lead">This website is still in development!</p>
        @*<p><a href="http://dungeonanddragonshessen.forumprofi.de" class="btn btn-primary btn-large">Go to old forum &raquo;</a></p>*@
    </div>