@{
    ViewBag.Title = "ToDo";
}
<br />
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>
<br />
<div class="col-md-4">
        <p>
            There are no external authentication services configured. See <a href="http://go.microsoft.com/fwlink/?LinkId=313242">this article</a>
            for details on setting up this ASP.NET application to support logging in via external services.
        </p>
</div>
<br />
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-primary btn-large" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-primary btn-large" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-primary btn-large" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<br />
<h3>ToDo's vom Projekt Liesmich</h3>
<div id="main">
    <div class="section first">
        <h2>This application consists of:</h2>
        <ul>
            <li>Sample pages showing basic nav between Home, About, and Contact</li>
            <li>Theming using <a href="http://go.microsoft.com/fwlink/?LinkID=320754">Bootstrap</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320755">Authentication</a>, if selected, shows how to register and sign in</li>
            <li>ASP.NET features managed using <a href="http://go.microsoft.com/fwlink/?LinkID=320756">NuGet</a></li>
        </ul>
    </div>

    <div class="section">
        <h2>Customize app</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320757">Get started with ASP.NET MVC</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320758">Change the site's theme</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320759">Add more libraries using NuGet</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320760">Configure authentication</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320761">Customize information about the website users</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320762">Get information from social providers</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320763">Add HTTP services using ASP.NET Web API</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320764">Secure your web API</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320765">Add real-time web with ASP.NET SignalR</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320766">Add components using Scaffolding</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320767">Test your app with Browser Link</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320768">Share your project</a></li>
        </ul>
    </div>

    <div class="section">
        <h2>Deploy</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320769">Ensure your app is ready for production</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320770">Windows Azure</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320771">Hosting providers</a></li>
        </ul>
    </div>

    <div class="section last">
        <h2>Get help</h2>
        <ul>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320772">Get help</a></li>
            <li><a href="http://go.microsoft.com/fwlink/?LinkID=320773">Get more templates</a></li>
        </ul>
    </div>
</div>